<!DOCTYPE html>
<html ng-app="readerApp" ng-controller="readerController">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/pagereader/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/pagereader/pagereader.css">
    <title>Ubooquity Reader</title>
    <link rel="icon" href="/pagereader/favicon.ico">
</head>

<body ng-keydown="handleKey($event);">

    <div id="loadingspinner" ng-show="isLoading">
        <img src="/pagereader/loading.gif"/>
        <br/>Loading
    </div>

    <canvas id="contentCanvas" ng-class="pageStyle"></canvas>
    
    <a href="" id="leftbar" ng-click="previousPage()"></a>
    <a href="" id="centerbar" ng-click="toggleMenu()"></a>
    <a href="" id="rightbar" ng-click="nextPage()"></a>

    <div id="dimoverlay" ng-show="displayMenu" class="ng-cloak"></div>
    <div id="rightmenu" ng-show="displayMenu" class="ng-cloak"></div>
    <div id="leftmenu" ng-show="displayMenu" class="ng-cloak"></div>
    <div id="centermenu" ng-show="displayMenu" class="ng-cloak">
        <div id="pagelabel">Page {{currPageNb + 1}} of {{nbPages}}</div>
        <progressbar id="progressbar" max="nbPages" value="currPageNb + 1"></progressbar>
        <br/>
        
        <button type="button" id="closebutton" class="btn btn-primary" onclick="history.back();return false;">
           Close book
        </button>
        
        <button type="button" id="gotobutton" class="btn btn-primary" ng-click="goToPage();">
            Go to page...
        </button>
        
        <div id="bottompane">
            <div id="legend">
                <table>
                    <tr><td><div class="key">→</div> / <div class="key">&nbsp;⇞&nbsp;</div></td><td>next page</td></tr>
                    <tr><td><div class="key">←</div> / <div class="key">&nbsp;⇟&nbsp;</div></td><td>previous page</td></tr>
                    <tr><td><div class="key">space</div></td><td>scroll down</td></tr>
                    <tr><td><div class="key">&nbsp;g&nbsp;</div></td><td>go to page...</td></tr>
                    <tr><td><div class="key">&nbsp;m&nbsp;</div></td><td>show/hide menu</td></tr>
                    <tr><td><div class="key">esc</div></td><td>close book</td></tr>
                </table>
            </div>
            <div id="settings">                    
                <div class="btn-group">                    
                    <label class="btn btn-primary btn-tgl" ng-model="pageSize" btn-radio="0">Fit to width</label>
                    <label class="btn btn-primary btn-tgl" ng-model="pageSize" btn-radio="1">Fit to height</label>
                    <label class="btn btn-primary btn-tgl" ng-model="pageSize" btn-radio="2">Original</label>
                </div>                        
                <div class="btn-group">
                    <label class="btn btn-primary btn-tgl" ng-model="pageSplit" btn-radio="0">Split L2R</label>
                    <label class="btn btn-primary btn-tgl" ng-model="pageSplit" btn-radio="1">Split R2L</label>
                    <label class="btn btn-primary btn-tgl" ng-model="pageSplit" btn-radio="2">No split</label>
                </div>
            </div>
        </div>
    </div>

    <div id="closeoverlaylegend" ng-show="displayMenu" class="ng-cloak">Click this zone to close the overlay</div>

    <script src="/pagereader/angular.min.js"></script>
    <script src="/pagereader/angular-cookies.min.js"></script>
    <script src="/pagereader/ui-bootstrap-custom-tpls-0.13.1.min.js"></script>
    <script src="/pagereader/pagereader.js"></script>
</body>

</html>
